nav ul li {
    padding: 20px;
    display: flex;
}
header {
   text-align: center;
   background-image: url(.);
   /* height: 800px; */
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   
}
ul{
    display: flex;
    /* width: 1110px; */
    justify-content: space-between;
    margin: auto;
    
}
.main {
    
    max-width: 1260px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

@media screen and (max-width: 1250px) {
    .main {
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    }
}

@media screen and (max-width: 1150px) {
    .main {
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
    }
}
@media screen and (max-width: 1050px) {
    .main {
        grid-template-columns: auto auto auto auto auto auto auto auto auto ;
    }
}
@media screen and (max-width: 950px) {
    .main {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}
@media screen and (max-width: 850px) {
    .main {
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}
@media screen and (max-width: 700px) {
    .main {
        grid-template-columns: auto auto auto auto auto auto ;

    }
}@media screen and (max-width: 600px) {
    .main {
        grid-template-columns: auto auto auto auto auto;
    }
}@media screen and (max-width: 450px) {
    .main {
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width: 350px) {
    .main {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 300px) {
    .main {
        grid-template-columns: auto auto ;
    }
}
@media screen and (max-width: 200px) {
    .main {
        grid-template-columns: auto;
    }
}
ul{
    display: flex;
    width: 1110px;
    justify-content: space-between;
    margin: auto;
    }